body {
  color: #333;
  font-size:16px;
  padding:15px;
  background-color: #f5f5f5;
}

a:visited {
  color: #265778;
}

a:hover {
  color: #265778;
  text-decoration: underline;
}

a {
  color: #3B8BBA;
  text-decoration: underline;
}

.container {
  margin-top:4em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  width:100%;
}

p.help {
  font-size: 95%;
  color:#666;
}

.login-form {
  margin-top:3em;
  margin-bottom: 2em;
  border-radius: 4px;
}

.login-form label {
  margin: 0 0 0.5em 0;
  color: #777;
}

.login-form input[type=text] {
  margin: 0 0 1em 0;
  color: #595959;
}

.login-submit {
  font-size:1.1em;
}

@media (min-width: 48em) {
  .container  {
    width: 24em;
  }
}
