body {
    color: #333;
    font-size:16px;
    padding:15px;
}

.container {
    margin-top:2em;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width:100%;
}

.login-form {
    margin-top:2em;
    padding:15px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.login-form label {
    margin: 0 0 0.5em 0;
    color: #777;
}

.login-form input[type=text] {
    margin: 0 0 1em 0;
    color: #595959;
}

.login-form .pure-input-label {
    color:#666;
    margin: 0 0 0.5em 0;
}

.login-submit {
    font-size:1.2em;
}

@media (min-width: 48em) {

    .container  {
        width: 32em;
    }
}
